.carousel-caption{
    bottom:290px;
    text-align: left;
    left:5%;
}

#moviesandtv{
    width:240px;
    padding-top:40px;
    padding-bottom: 40px;
}

.card a{
    color:black;
}

.carousel-item img{
    width: 100%;
    align-self: center;
    max-height: 70vh;
}
